.button{
    padding: 1rem;
    background-color: rgb(143, 197, 197);
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}